html, body {
	background-color: #eee;
}

.container .content {
	background-color: #fff;
	padding: 20px;
	margin-bottom: 24px;
	margin-top: 32px;
	_margin-top: -24px;
}

.navbar .container {
	width: 900px;
}
``
*+html input, *+html textarea {
	position: relative;
	left: 20px;
}

.content > footer {
	position: relative;
}

/* itc IE 7 fails at floats */
*+html #StormDEVLogo {
	position: absolute;
	right: 0;
	padding-right: 16px;
}

.dropdown-menu {
	width: 185px;
	border: 1px solid;
}

*+html div.clearfix span {
	display: block;
	position: relative;
	right: 20px;
}

.nav-collapse.collapse {
	height: auto;
	overflow: visible;
	position: relative;
	top: 1px;
}

.content-area hr {
	margin-top: 0px;
}

.blog-article {
	padding-bottom: 12px;
}

 html>body .acp .btn {
	position: relative;
	*left: 20px;
}

hr {
	margin-top: 8px;
	margin-bottom: 8px;
}